<div class="center hero-unit">
	<h2> Your phone is your classroom <h2>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
			
				<h3> The benefits of online learning, without the costs of computers</h3>
				
				<%= link_to "Sign up for free trial!", signup_path, 
                                class: "btn btn-large btn-primary" %>

            
			</div>


			<div class="span9">
				
				<%= image_tag 'https://s3.amazonaws.com/demo_app_pictures/grads-in-a-row.jpg' %>
			</div>
		</div>
		
	</div>
</div>