#assignment_classroom{:'data-classroom-id' => @current_classroom.id, :'data-auth-token' => form_authenticity_token}
#classroom_name= "Assignment Management: #{@current_classroom.name}"
#assignment_list.row
  .six.columns#current_assignments
    %ul
      %li.title Current Assignments
      - if @current_assignments.present?
        #assignments_list
          - @current_assignments.each do |lecture|
            %li= lecture.name if lecture
  .six.columns#available_assignments
    %ul
      %li.title Available Assignments
      - @available_lectures.each do |lecture|
        %li.movable{:'data-lecture-id' => lecture.id}= lecture.name
