#assignment_classroom{:'data-classroom-id' => @current_classroom.id, :'data-auth-token' => form_authenticity_token}
= @current_classroom.name
.row
  .six.columns#current_assignments
    %ul
      - if @current_assignments.present?
        - @current_assignments.each do |lecture|
          %li= lecture.name if lecture
  .six.columns#available_assignments
    %ul
      - @available_lectures.each do |lecture|
        %li.movable{:'data-lecture-id' => lecture.id}= lecture.name
