<div class="ten columns">
  <div class="row" id="grid">
    <% @classroom.users.each do |user| %>
      <a href=<%= user_path(user) %> >
        <div class="four mobile-two columns">
          <div class="radius button">
                <%= user.name %>
                <h6 class="subheader"><%= "Correct Answers" %></h6>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
