%li.active#simpleContained1Tab
  .row
    %dl.vertical.four.columns
      %dd.active#percent_correct.vert_tab
        %button.tiny.button.round.embossed
          Percent Correct
      %dd#number_completed.vert_tab
        %button.tiny.button.round.embossed
          Number Completed
    #container{:'data-classroom' => @classroom.id}
      - @users.each do |user|
        %div{ :class => user.name }
          = render :partial => 'users/user', :locals => { :user => user, :user_answers => @answers }
    #chart

