%dd#current.active.tab.upper.navcont
  = link_to 'Current', "#simpleContained1"
%dd#today.hide-for-small.tab.upper.navcont
  = link_to 'Today', "#simpleContained2"
%dd#overall.hide-for-small.tab.upper.navcont
  = link_to 'Overall', "#simpleContained3"