<dl class="vertical tabs pill two columns">
  <dd class="active"><a href="#vertical7">Percent Correct</a></dd>
  <dd><a href="#vertical8">Amount Complete</a></dd>
  <dd><a href="#vertical9">Time per lecture</a></dd>
</dl>