<dl class="vertical tabs pill two columns">
  <dd class="active"><a href="#vertical1">Percent Correct</a></dd>
  <dd><a href="#vertical2">Amount Complete</a></dd>
  <dd><a href="#vertical3">Time per lecture</a></dd>
</dl>