<dl class="vertical tabs pill two columns">
  <dd class="active"><a href="#vertical4">Percent Correct</a></dd>
  <dd><a href="#vertical5">Amount Complete</a></dd>
  <dd><a href="#vertical6">Time per lecture</a></dd>
</dl>