<% if @lesson.errors.any? || @lecture.errors.any? %>
  <div id="error_explanation">
    For lesson:
    <ul>
    <% @lesson.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
    <% if @lecture %>
      For lecture:
      <% @lecture.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
<% end %>


