
<!-- End Navigation -->

      <div class="row">

  <!-- Side Bar -->

        <div class="three mobile-four columns">

          <img src="http://placehold.it/500x500&text=Logo">

          <div class="hide-for-small panel">
            <h3><%= @teacher.name %></h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>

          <a href=<%= edit_teacher_path(@teacher) %>>
          <div class="panel callout radius" align="center">
            <h6>Edit Profile</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->

 <dl class="tabs contained nine columns">
  <dt> My classrooms</dt>
  <dt><%= link_to "Add new classroom +", '/new_classroom' %></dt>
</dl>
<ul class="tabs-content contained nine columns">
  <li class="active" id="simpleContained1Tab">
    <div class="row">
      <div class="ten columns percent_correct">
      <% @auth.classrooms.each do |classroom| %>
            <div class="four columns">
              <div class="panel">
                <h6 class="subheader"><%= link_to classroom.name, classroom %></h6>
              </div>
            </div>
      <% end %>
      </div>
    </div>
  </li>
</ul>
      <!-- Thumbnails -->


    <!-- End Managed By -->

          </div>
        </div>
      </div>
