<footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; A hard work production.  </p>
        </div>
      </div>
    </div>
  </footer>