<!-- Header and Nav -->

<div class="row">
  <div class="twelve columns">
    <ul class="nav-bar">
      <li class="active" class="support tag"><%= link_to('Yakbat', root_path) %></li>



      <%== intellinav %>
    </ul>
  </div>
</div>

<!-- End Header and Nav -->